.recentwork {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mukta", sans-serif;
}

.recentwork-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.recentwork-container h1 {
  white-space: nowrap;
  font-size: 60px;
  background: linear-gradient(to right, #8750f7, white);
  -webkit-background-clip: text;
  color: transparent;
}

.works {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 5rem;
}

.work1,
.work2,
.work3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

.left{
  background-color: #1a122e;
  padding: 2.5rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  position: relative;
}

.left img {
  width: 30rem;
}

.right{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 35rem;
  padding: 1rem 1rem;
}

.right h3{
  margin: 1rem 0rem;
  color: #8750f7;
}

.right p span{
  font-weight: 800;
}

.left:hover{
  scale: 1.05;
  transition: 0.4s ease-in-out;
}

.left a div {
  position: absolute;
  width: 80%;
  background-color: #8750f7;
  height: 20%;
  margin-left: 5%;
  border-radius: 12px;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  bottom: 10%;
  right: 7%;
  opacity: 0;
  transition: 0.7s ease-in-out;
}

.left a div span{
  background-color: transparent;
}

.left:hover a div{
  opacity: 1;
  bottom: 15%;
}