@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --bgcolor: rgb(214,32,78);
  --hover: rgb(226, 24, 24, 0.9);
}

@keyframes fade-img {
  from {
    scale: 0.5;
  }
  to {
    scale: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  scroll-behavior: smooth;
}

a:link {
  color: white;
  text-decoration: none;
}

/* ------------------loader ----------------*/

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid var(--bgcolor);
  z-index: 99;
  transition: all ease 1s;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loader > h1 {
  color: transparent;
  font-size: 4vw;
  background: var(--bgcolor);
  -webkit-background-clip: text;
  position: absolute;
  opacity: 0;
  animation-name: load;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-timing-function: linear;
}

#loader h1:nth-child(2) {
  animation-delay: 1s;
}

#loader h1:nth-child(3) {
  animation-delay: 2s;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#to-top {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  position: fixed;
  bottom: 2%;
  right: 2%;
  background-color: var(--bgcolor);
  padding: 0.5%;
}

#to-top-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#to-top:hover {
  background-color: var(--hover);
}

/* ---------------------first page ------------------------*/

#first-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}

#header {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#header-name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3.5rem;
  height: 100%;
  width: 30%;
}

#header-name span,
#intro-font span {
  color: var(--bgcolor);
}

#header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 2rem;
  height: 100%;
  width: 45%;
}

#header ul li {
  cursor: pointer;
  height: 2.3rem;
  width: 2.7rem;
  /* background-color: aqua; */
  text-align: center;
  padding-top: 0.6rem;
}

#header ul li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: o.1rem solid rgba(128, 128, 128, 0.097);
  border-radius: 0.5rem;
}

#header ul li img {
  height: 1.6rem;
  width: 1.6rem;
}

#intro {
  position: relative;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
}

#intro-font {
  height: 33%;
  position: absolute;
  top: 20%;
  left: 11%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  line-height: 4rem;
}

#intro-font p {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#intro-font h1 {
  font-size: 3rem;
}

#intro-font span {
  text-shadow: 1px 1px black;
}

/* ---------------------Second Page ----------------------*/

#second-page {
  height: 100vh;
  background-color: black;
  position: relative;
  padding-top: 5%;
}

#second-page-conatiner{
  width: 100%;
  height: 100%;
    animation: fade-img linear forwards;
  animation-range: entry;
  animation-timeline: view();
}

#education {
  position: absolute;
  left: 10%;
  width: 40%;
  height: 70%;
  color: white;
  background-color: rgba(255, 255, 255, 0.135);
  border-radius: 1rem;

}

#education #h1 {
  font-size: 2rem;
  padding-top: 1.5rem;
  text-align: center;
}

#para {
  width: 95%;
  height: 70%;
  margin-top: 8%;
  padding-left: 5%;
  text-align: left;
}

#para ul {
  list-style: none;
  height: 100%;
}

.education-div p {
  margin-bottom: 0.6rem;
}

#para ul li {
  padding-bottom: 2rem;
}

#para ul li h3 {
  padding-bottom: 0.5rem;
}

#uni-link {
  width: 100%;
  height: 10%;
  color: white;
  text-align: center;
}

#uni-pic {
  width: 30%;
  height: 45%;
  margin-top: 7%;
  margin-right: 10%;
  float: right;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px 5px var(--bgcolor);
}

/* ------------------------Third Page --------------------*/

#third-page {
  height: 100vh;
  background-color: black;
  position: relative;
  padding-top: 5%;
}

#work {
  height: 80%;
  display: flex;
  position: relative;
  animation: fade-img linear forwards;
  animation-range: entry;
  animation-timeline: view();
}

#work-pic {
  width: 50%;
  height: 100%;
  /* background-color: blueviolet; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#img-container {
  height: 50%;
  width: 50%;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px 5px var(--bgcolor);
}

#work-education {
  height: 100%;
  width: 50%;
  float: right;
}

#work-education-container {
  margin-top: 2rem;
  width: 80%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.135);
  color: white;
  border-radius: 1rem;
}

#work-education-container-heading {
  height: 10%;
  text-align: center;
  padding-top: 1.5rem;
}

#work-education-container-heading h1 {
  font-size: 2rem;
}

#work-education-container-para {
  width: 100%;
  height: 70%;
  margin-top: 8%;
}

#work-education-container-para ul {
  list-style: none;
  height: 100%;
  padding-left: 2rem;
}

#work-education-container-para ul li {
  padding-bottom: 2rem;
}

#work-education-container-para ul li h3 {
  padding-bottom: 0.5rem;
}
/* ------------------------skills ---------------------------*/

#bio {
  height: 110vh;
  background-color: black;
  display: grid;
  color: white;
  row-gap: 3rem;
  grid-template-rows: 1fr 1.2fr;
  padding-bottom: 5%;
}

#skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1fr;
  padding-left: 6rem;
  padding-right: 6rem;
  column-gap: 10rem;
  row-gap: 1rem;
  animation: fade-img linear forwards;
  animation-range: entry;
  animation-timeline: view();
}

#skills-heading {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  padding-top: 0.5rem;
  font-size: 2.5rem;
}

.skill-cards {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 1rem;
}

.skill-cards-heading {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
}

.skill-cards-heading > img {
  height: 80%;
  width: 50%;
  margin-top: 3%;
}

#javascript {
  width: 20%;
}

#html {
  width: 20%;
}

.skill-cards > p {
  /* height: 60%; */
  text-align: center;
  margin-top: 2%;
  padding: 0% 5%;
}

#projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1.7fr;
  padding-left: 6rem;
  padding-right: 6rem;
  column-gap: 10rem;
  row-gap: 1rem;
  animation: fade-img linear forwards;
  animation-range: entry;
  animation-timeline: view();
}

#projects-heading {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  padding-top: 0.5rem;
  font-size: 2.5rem;
}

.projects-cards {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
}

.projects-cards::before {
  content: "";
  position: absolute;
  bottom: -100%;
  background-color: rgb(226, 24, 24, 0.5);
  width: 100%;
  height: 100%;
  transition: all ease 0.8s;
}

.projects-cards:hover:before {
  bottom: 0;
  content: "Project";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

#projects-cards-1 {
  overflow: hidden;
}

#projects-cards-2 {
  overflow: hidden;
}

#projects-cards-3 {
  overflow: hidden;
}


/* ------------------------footer ----------------------------*/

footer {
  height: 50vh;
  background-color: black;
  border-top: 1px solid white;
  display: flex;
}

#footer-left {
  width: 60%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-img linear forwards;
  animation-range: entry;
  animation-timeline: view();
}

#footer-left-div {
  width: 80%;
  height: 55%;
  text-align: center;
}

#footer-left-div p {
  padding: 1rem 3rem;
}

#footer-left-div-icons {
  width: 100%;
  height: 40%;
}

#footer-left-div-icons ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  height: 100%;
  width: 100%;
}

#insta {
  height: 2.5rem;
  width: 2.5rem;
}

#linkedin {
  height: 2rem;
  width: 2rem;
}

#git {
  height: 2.2rem;
  width: 2.2rem;
}

#footer-right {
  width: 40%;
  height: 100%;
  color: white;
  animation: fade-img linear forwards;
  animation-range: entry;
  animation-timeline: view();
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-right-heading {
  width: 80%;
  height: 55%;
  text-align: center;
}

#footer-right-heading-details {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
}

#footer-right-heading-details > ul {
  list-style: none;
  height: 100%;
  width: 60%;
  text-align: left;
  margin-top: 3%;
}

#footer-right-heading-details > ul > li {
  height: 30%;
  display: flex;
  align-items: center;
}

/*---------------------ScollBar----------------------- */

::-webkit-scrollbar {
  width: 1rem;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bgcolor);
  border-radius: 1rem;
  border: 0.2rem solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-track {
  background-color: rgba(10, 10, 10, 0.934);
  /* border-radius: 1rem; */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--hover);
}
